#MainCanvas {
	width: 100%;
}

body {
	padding: 0;
	margin: 100px 0;
	// background-color: #222;
	background-color: #FFF;
}

#config label {
	display: inline-block;
	width: 5em;
}
#config input {
	display: inline-block;
	width: 8em;
}
