body {
	margin: 0;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	margin-bottom: .5em;
}

:not(:fullscreen) .if-fullscreen { display: none; }
:fullscreen .not-fullscreen { display: none; }

.big {
	font-size: 1.3em;
}
.b {
	font-weight: bold;
}
.serif {
	font-family: Didot, serif;
}
.right {
	text-align: right;
}
.tiny {
	font-size: .5em;
}
.secondary {
	color: #888;
}

.row {
	width: 100%;
	display: flex;
	flex-flow: row;
}

label {
	margin-right: 1em;
}

textarea:focus, input:focus{
	outline: none;
}

input {
	font: inherit;
	font-size: .9em;
	border: none;
	border-bottom: 1px solid black;

	&:focus {
		border-bottom: 1px solid red;
		box-shadow: 0 0 .5em #BBB;
		z-index: 1;
	}
}

@for $i from 1 through 12 {
	$width: 4em * $i;
	.w-#{$i} { display: inline-block; width: $width; }
}

@for $i from 1 through 4 {
	$width: .5em * $i;
	.mx-#{$i} { margin-left: $width; margin-right: $width; }
	// .ml-#{$i} { margin-left: $width; }
	// .mr-#{$i} { margin-right: $width; }
}
